﻿@model FileCatalog.Models.FileEditViewModel
<tr>
    <td>
        @Html.HiddenFor(model => model.Id)
        @Html.DisplayFor(model => model.Name)
        @Html.HiddenFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.UploadDate)
        @Html.HiddenFor(model => model.UploadDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.LastDownloadDate)
        @Html.HiddenFor(model => model.LastDownloadDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.DownloadsCount)
        @Html.HiddenFor(model => model.DownloadsCount)
    </td>
    <td>
        @Html.CheckBoxFor(model => model.Delete)
    </td>
</tr>