﻿@{
    ViewBag.Title = "Информация";
}
<h2>@ViewBag.Title</h2>

<div>
    <h3>Информация о проекте</h3>
    <p>@Html.ActionLink("О персонажах", "About", "Characters", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    <p>@Html.ActionLink("Правила сайта", "Rules", "Home", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    <br />
    <h3>Лор The Elder Scrolls</h3>
    <p>
        <a class="btn btn-default" href="http://en.uesp.net" target="_blank">UESP &raquo;</a>
        <a class="btn btn-default" href="http://ru.elderscrolls.wikia.com" target="_blank">Wikia (ru) &raquo;</a>
        <a class="btn btn-default" href="http://elderscrolls.wikia.com" target="_blank">Wikia (en) &raquo;</a>
    </p>
    <p>
        <a class="btn btn-default" href="https://www.imperial-library.info/" target="_blank">The Imperial Library &raquo;</a>
        <a class="btn btn-default" href="https://www.reddit.com/r/teslore/" target="_blank">Reddit &raquo;</a>
    </p>
</div>
