﻿@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>FileCatalog</h1>
    <p class="lead">
        FileCatalog позволяет вам публиковать файлы, прикрепляя их к текстовым публикациям.
    </p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        <p>@Html.ActionLink("Создать новую публикацию", "New", "Posts", new { @class = "btn btn-primary" })</p>
    }
    else
    {
        <p>@Html.ActionLink("Зарегистрироваться", "Register", "Account", new { @class = "btn btn-primary" })</p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <p>Раздел @Html.ActionLink("Публикации", "Index", "Posts", new { @class = "btn-link" }) содержит текстовые публикации с прикрепленными к ним файлами.</p>
        <p>Скачивание файлов доступно только зарегистрированным пользователям.</p>
        <p>Все публикации доступны по прямым ссылкам.</p>
    </div>
    <div class="col-md-4">
        <p>Раздел @Html.ActionLink("Пользователи", "Index", "Users", new { @class = "btn-link" }) содержит персональные страницы зарегистрированных пользователей сайта.</p>
        <p>На персональных страницах можно найти опубликованные личные данные авторов, а также получить список их персональных публикаций.</p>
    </div>
    <div class="col-md-4">
        <p>Все материалы на сайте должны публиковаться в соответствии с @Html.ActionLink("Правилами сайта", "Rules", "Home", new { @class = "btn-link" }).</p>
        <p>Нарушители могут быть забанены.</p>
    </div>
</div>