﻿
@{
    ViewBag.Title = "Правила";
}

<h2>@ViewBag.Title</h2>
<div class="rules-list">
<ol>
    <li>Все текстовые поля должны быть заполнены в соответствии с правилами и нормами русского языка.</li>
    <li>Использование ненормативной лексики лексики запрещено.</li>
    <li>Личные оскарбления других пользователеей запрещены.</li>
    <li>Разглашение персональных данных других пользователей без их публичного согласия запрещено.</li>
    <li>Репост ранее удаленных материалов запрещен.</li>
    <li>Размещение рекламы или ссылок вне специально отведенных полей запрещены.</li>
    <li>Размещение материалов порнографического или эротического содержания запрещено.</li>
    <li>Размещение материалов, содержащих шок-контент запрещено.</li>
    <li>Размещение материалов, унижающих человеческое достоинство запрещено.</li>
</ol>
</div>
