﻿@model FileCatalog.Models.ChangeAboutViewModel
@{
    ViewBag.Title = "Изменение примечания";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeAbout", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            @Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Назад", "Index", "Manage", htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

