﻿@model FileCatalog.Models.PostHeaderBaseViewModel

<h2>Удаление публикации</h2>

@using (Html.BeginForm("Delete", "Posts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <p>Вы действительно хотите удалить публикацию <b>@Model.Header</b>?</p>
    <p>
        @Html.ActionLink("Назад", "Details", "Posts", new { @id = Model.Id }, new { @class = "btn btn-default" })
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </p>
}
