﻿@model FileCatalog.Models.PostDetailsViewModel
@using FileCatalog.Extensions
@using Microsoft.AspNet.Identity
@{ 
    bool userLoggedIn = User.Identity.IsAuthenticated;
    bool userAuthor = User.IsInRole("User") && User.Identity.GetUserId<int>() == Model.AuthorId;
    bool userModerator = User.IsInRole("Moderator");
    bool userAdmin = User.IsInRole("Admin");
}

<div class="form-horizontal">
    <div class="form-group">
        <h2>@Model.Header</h2>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="form-control-static">
                    <p>@Html.DisplayFor(model => model.Author)</p>
                    <p>@Html.ActionLink("Страница пользователя", "Details", "Users", new { id = Model.AuthorId }, htmlAttributes: new { @class = "btn btn-default" })</p>
                </div>               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.CreationDate)
                </div>
            </div>
        </div>

        @if (Model.IsHidden || Model.IsImportant)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Метки</label>
                <div class="col-md-8">
                    <div class="form-control-static">
                        @if (Model.IsImportant)
                        {
                            <p>Важно</p>
                        }
                        @if (Model.IsHidden)
                        {
                            <p>Cкрыто</p>
                        }
                    </div>
                </div>
            </div>
        }

        @if (Model.Editions.Any())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Editions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <div class="form-control-static">
                        <table class="table">
                            <tr>
                                <th>Дата</th>
                                <th>Редактор</th>
                                <th>Замечание</th>
                            </tr>
                            @foreach (var item in Model.Editions)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Editor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Note)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.Text)
                </div>
            </div>
        </div>

        @if (Model.Files.Any())
        {
        <div class="form-group">
            @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <div class="form-control-static">
                    @if (!userLoggedIn)
                    {
                        <p>Внимание! Скачивание доступно только зарегистрированным пользователям.</p>
                    }
                    <table class="table">
                        <tr>
                            <th>Файл</th>
                            <th>Дата загрузки</th>
                            <th>Последнее скачивание</th>
                            <th>Всего скачиваний</th>
                            <th></th>
                        </tr>
                    @foreach (var item in Model.Files)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.UploadDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastDownloadDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.DownloadsCount)</td>
                            @if (userLoggedIn)
                            {
                                <td>@Html.ActionLink("Скачать", "Download", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })</td>
                            }
                        </tr>
                    }
                    </table>
                </div>
            </div>
        </div>
        }

        @if (userAuthor || userModerator || userAdmin)
        {
        <div class="form-group">
            <div class="col-md-offset-2">
                @if (userAuthor || userModerator)
                {
                    @Html.ActionLink("Исправить", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
                @if (userAuthor || userAdmin)
                {
                    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        </div>
        }
    </div>
</div>
