﻿@model FileCatalog.Models.EditPostViewModel
@using FileCatalog.Extensions

@{
    ViewBag.Title = "Новая публикация";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <h3>Информация</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Метки</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.IsHidden, new { htmlAttributes = new { @class = "form-control-static" } })
                </div>
            </div>

            @if (User.IsInRole("Moderator"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.IsImportant, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.IsImportant, new { htmlAttributes = new { @class = "form-control-static" } })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.IsImportant)
            }
        </div>

        <div class="form-group">
            <h3>Файлы</h3>

            @if (Model.CurrentFiles.Any())
            {
            <div class="form-group">
                <label class="control-label col-md-2">Прикрепленные файлы</label>
                <div class="col-md-8">
                    <table class="table">
                        <tr>
                            <th>Файл</th>
                            <th>Дата загрузки</th>
                            <th>Последнее скачивание</th>
                            <th>Всего скачиваний</th>
                            <th>Удалить</th>
                        </tr>
                        @Html.EditorFor(model => model.CurrentFiles)
                    </table>
                </div>
            </div>
            }

            <div class="form-group">
                <label class="control-label col-md-2">Добавить файлы</label>
                <div class="col-md-8">
                    <input type="file" name="NewFiles" class="form-control-static" multiple />
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Внести исправления" class="btn btn-default" />
            </div>
        </div>
    </div>
}