﻿@model FileCatalog.Models.PostsHeadersListsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Мои публикации";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Все публикации", "Index", "Posts", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        @Html.ActionLink("Новая публикация", "New", "Posts", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>

@using (Html.BeginForm("My", "Posts", FormMethod.Get))
{
    <p>
        Поиск по названию: @Html.TextBox("Search", ViewBag.Search as string)
        <input type="submit" value="Найти" />
    </p>
}

@if (Model.Important.Any())
{
<h3>Важные</h3>
@Html.Partial("PostHeadersTable", Model.Important)
<br />
<h3>Остальные</h3>
}
@Html.Partial("PostHeadersTable", Model.Common)

<br />
Страница @(Model.Common.PageCount < Model.Common.PageNumber ? 0 : Model.Common.PageNumber) из @Model.Common.PageCount

@Html.PagedListPager(Model.Common, page => Url.Action("My", new { page, search = ViewBag.Search }))