﻿@model FileCatalog.Models.NewPostViewModel
@using FileCatalog.Extensions

@{
    ViewBag.Title = "Новая публикация";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("New", "Posts", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <h3>Информация</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Метки</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.IsHidden, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.IsHidden, new { htmlAttributes = new { @class = "form-control-static" } })
                </div>
            </div>

            @if (User.IsInRole("Moderator"))
            {
            <div class="form-group">
                @Html.LabelFor(model => model.IsImportant, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsImportant, new { htmlAttributes = new { @class = "form-control-static" } })
                </div>
            </div>
            }
        </div>

        <div class="form-group">
            <h3>Файлы</h3>
            <div class="form-group">
                <label class="control-label col-md-2">Добавить файлы</label>
                <div class="col-md-8">
                    <input type="file" name="files" class="form-control-static" multiple />
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}