﻿@model IEnumerable<FileCatalog.Models.PostHeaderViewModel>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Опубликовано
        </th>
        <th>
            Автор
        </th>
        <th>
            Отредактировано
        </th>
        <th>
            Редактор
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.IsHidden)
                {
                    <i>[Скрыто] @Html.DisplayFor(modelItem => item.Header)</i>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Header)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEditDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Posts", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Автор", "Details", "Users", new { id = item.AuthorId }, htmlAttributes: new { @class = "btn btn-default" })
                @if (item.EditorId != null)
                {
                    @Html.ActionLink("Редактор", "Details", "Users", new { id = (int)item.EditorId }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }
</table>