﻿@model FileCatalog.Models.PostsHeadersListsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Публикации пользователя";
}

<h2>@ViewBag.Title @ViewBag.UserName</h2>
<p>
    @Html.ActionLink("Все публикации", "Index", "Posts", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Мои публикации", "My", "Posts", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>

@using (Html.BeginForm("UserPosts", "Posts", new { id = (int)ViewBag.UserId }, FormMethod.Get))
{
    <p>
        Поиск по названию: @Html.TextBox("Search", ViewBag.Search as string)
        <input type="submit" value="Найти" />
    </p>
}

@if (Model.Important.Any())
{
    <h3>Важные</h3>
    @Html.Partial("PostHeadersTable", Model.Important)
    <br />

    <h3>Остальные</h3>
}
@Html.Partial("PostHeadersTable", Model.Common)

<br />
Страница @(Model.Common.PageCount < Model.Common.PageNumber ? 0 : Model.Common.PageNumber) из @Model.Common.PageCount

@Html.PagedListPager(Model.Common, page => Url.Action("UserPosts", new { id = (int)ViewBag.UserId, page, search = (string)ViewBag.Search }))