﻿@model PagedList.IPagedList<FileCatalog.Models.UserListItemViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Забаненые";
}

<h2>@ViewBag.Title</h2>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Моя страница", "My", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Пользователи", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Модераторы", "Moderators", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm("Banned", "Users", FormMethod.Get))
{
    <p>
        Поиск по имени: @Html.TextBox("Search", ViewBag.Search as string)
        <input type="submit" value="Найти" />
    </p>
}

@Html.Partial("UsersTable", Model)

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Banned", new { page, search = ViewBag.Search }))