﻿@model FileCatalog.Models.UserContactsViewModel
@using FileCatalog.Extensions

@if (Model.Discord != null || Model.Telegram != null || Model.Skype != null)
{
    <h3>Контакты</h3>
    if (Model.Discord != null)
    {
    <div class="form-group">
        @Html.LabelFor(model => model.Discord, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.Discord)
            </div>
        </div>
    </div>
    }
    if (Model.Telegram != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Telegram, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Telegram)
                </div>
            </div>
        </div>
    }
    if (Model.Skype != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Skype)
                </div>
            </div>
        </div>
    }
}