﻿@model FileCatalog.Models.UserDetailsViewModel
@using FileCatalog.Extensions
@{
    ViewBag.Title = "Пользователь";
    bool admin = User.IsInRole("Admin");
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
    <h3>Личные данные</h3>
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>
    </div>

    @if (!Model.IsEmailHidden || admin)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Email)
                    @if (Model.IsEmailHidden)
                    {
                        @:<i>&emsp;(скрыт)</i>
                    }
                </div>
            </div>
        </div>
    }

    @if (admin)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                @Html.ActionLink("Изменить пароль", "ChangeUserPassword", "Manage", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning"}) 
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @if (Model.Roles.Roles.Any())
                {
                    foreach (var item in Model.Roles.Roles)
                    {
                        <p>@item</p>
                    }
                }
                else
                {
                    <p><i>Нет ролей</i></p>
                }

                @if (admin)
                {
                    <p>
                    @if (Model.Roles.IsUser)
                    {
                        @Html.ActionLink("Лишить прав пользователя", "DenyUserRole", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Наделить правами пользователя", "ApplyUserRole", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }

                    @if (Model.Roles.IsModerator)
                    {
                        @Html.ActionLink("Лишить прав модератора", "DenyModeratorRole", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Наделить правами модератора", "ApplyModeratorRole", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }

                    @if (Model.Roles.IsBanned)
                    {
                        @Html.ActionLink("Разбанить", "UnbanUser", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Забанить", "BanUser", "Admin", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                    }
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.RegisterDate)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastAction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.LastAction)
            </div>
        </div>
    </div>

    @Html.Partial("Contacts", Model.Contacts)

    @Html.Partial("Stats", Model.Stats)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            @Html.ActionLink("Публикации", "UserPosts", "Posts", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>

</div>

@if (Model.About != null)
{
    <div class="form-horizontal">
        <h3>Обо мне</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.About)
                </div>
            </div>
        </div>
    </div>
}