﻿@model FileCatalog.Models.UserStatsViewModel

<h3>Материалы</h3>

<div class="form-group">
    @Html.LabelFor(model => model.Posts, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        <div class="form-control-static">
            @Html.DisplayFor(model => model.Posts)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Editions, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        <div class="form-control-static">
            @Html.DisplayFor(model => model.Editions)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        <div class="form-control-static">
            @Html.DisplayFor(model => model.Files)
        </div>
    </div>
</div>