﻿@model IEnumerable<FileCatalog.Models.UserListItemViewModel>

<table class="table">
    <tr>
        <th>
            Имя пользователя
        </th>
        <th>
            Количество публикаций
        </th>
        <th>
            Количество правок
        </th>
        <th>
            Последнее действие
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAction)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Users", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Материалы", "UserList", "Posts", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
